/* Base styles */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --clr-light: #fdfdfd;
    --clr-dark: #000000FF;
    --clr-blue: #515cda;
    --clr-gray: #1f2325;
    --clr-span: #ffffff80;
    --clr-light-blue: #545fe7;

    --brand: #5865f2;
    --main: #1a2081;
    --main-rgb: 26, 32, 129;
}

@font-face {
    font-family: 'Abcgintodiscordnord';
    src: url('https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abcgintodiscord';
    src: url('https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/67110a452ee74d65f90c1dc0_ABCGintoDiscord-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Abcgintodiscord', sans-serif;
    background-color: var(--main );
    background-repeat: no-repeat;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    width: 100%;
}

span {
    font-family: 'Abcgintodiscord', sans-serif;
    color: var(--clr-span);
    font-weight: 400;
    line-height: 20px;
}

a {
    color: var(--clr-light);
    text-decoration: none;
}

ul {
    list-style: none;
}


h1, p {
    color: var(--clr-light);
}

h1 {
    font-family: Abcgintodiscordnord, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.6rem;
}

p {
    font-family: Abcgintodiscord, sans-serif;
    font-size: 1.3rem;
}



.btn {
    font-size: 1rem;
    font-family: 'Abcgintodiscord', sans-serif;

    border: none;
    border-radius: 15px;
}

.btn-1 {
    font-size: 1.3rem;
    font-family: 'Abcgintodiscord', sans-serif;
    text-align: center;

    border: none;
    border-radius: 15px;

    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;

    margin: 6rem 10rem;
}

/* End of Base Styles */

/* Heading */
#header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-image:
            linear-gradient(
                    to bottom,
                    rgba(var(--main-rgb), 0) 60%,
                    rgba(var(--main-rgb), 0) 85%,
                    var(--main) 100%
            ),
            url("../res/assets/png/673df7fbe95a8e90a7571751_D-bg.png");

    background-position:
            0% 0%,
            50% 0%;
    background-repeat:
    no-repeat,
    no-repeat;
    background-size:
            100% 100%,
            cover;

    z-index: -1;

    height: auto;
}


.stars {
    background-image: url("../res/assets/webp/664c33e0f20d14f69f999b5b_Texture Headline.webp");
    background-repeat: repeat;
    background-size: 90%;
    background-attachment: scroll;

    height: 100vh;
    max-height: 700px;

    padding-bottom: 3.125rem;
    position: relative;
    z-index: 0;
}

.discord-btn {
    background-color: var(--clr-light);
    color: var(--clr-dark);

    font-weight: 500;
    padding: 0.6em 1em;
}

.discord-logo {
    position: fixed;

    top: 50px;
    left: 40px;

    width: 9.3rem;
    height: auto;

    z-index: 98;

}

.login {
    position: fixed;
    top: 40px;
    right: 40px;

    z-index: 98;
}

/* NAVBAR */

.nav-container {
    margin-top: 3rem;
}

.nav-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
}

.nav-item {
    color: var(--clr-light);

    font-family: 'Discord-bold', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.nav-dropdown {
    position: relative;

    top: 3px;
    height: 1rem;
    width: 1rem;
    opacity: 0.6;
}

/* Hero */

.hero, .hero-container {
    display: flex;

    height: 100%;
    max-height: 615px;

    z-index: -1;
}

.hero-container {
    padding-bottom: 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 5rem;

    width: 100%;
    max-width: 485px;
}

.heading {
    max-width: 12ch;
    line-height: 3.3rem;
}

.subtitle {
    line-height: 1em;
    max-width: 39ch;
}

.hero-img {
    width: 100%;
    max-width: 700px;

    z-index: 1;
}


#main-picture {
    width: 830px;
    height: auto;

    z-index: -1;

}

#Clyde {
    position: relative;
    bottom: 150px;
    right: 248px;

    width: 60px;


    animation: float 5s ease-in-out infinite;
    -webkit-animation: float 5s ease-in-out infinite;
    -moz-animation: float 5s ease-in-out infinite;

    transform-origin: center center;
}

@-moz-keyframes float {
    0% {
        transform: translateY(0px) ;
    }

    50% {
        transform: translateY(-20px) ;
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0px) ;
    }

    50% {
        transform: translateY(-20px) ;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px) ;
    }

    50% {
        transform: translateY(-20px) ;
    }

    100% {
        transform: translateY(0);
    }
}

#Clyde-shadow {
    position: relative;
    bottom: 370px;
    right: 223px;

    width: 70px;
}

#Wumpus-stand {
    position: relative;
    bottom: 141px;
    right: -299px;

    max-width: 170px;
}

#Wumpus-leaf {
    position: relative;
    bottom: 280px;
    right: -133px;
    max-width: 168px;

    -webkit-animation: spin 3s ease-in-out infinite;
    -moz-animation: spin 3s ease-in-out infinite;
    animation: spin 3s ease-in-out infinite;

    transform-origin: center center;
}


@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    50% { -moz-transform: rotate(10deg); }
    100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.download-btn {
    background-color: var(--clr-light);
    color: var(--clr-gray);
}

.download-btn:hover {
    cursor: pointer;
    background-color: #bdbdbd;
    transition: 0.5s;
}

.open-discord {
    color: var(--clr-light);
    background-color: var(--brand);

    position: relative;
    z-index: 1;
    overflow: hidden;

    transition: color 0.4s ease;
    cursor: pointer;

}

.open-discord::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(180deg, transparent 0, #1f1d5d 130%);

    opacity: 0;

    z-index: -1;

    transition: opacity .3s ease;
}

.open-discord:hover::before{
    cursor: pointer;
    opacity: 1;
}

#download-icon {
    position: relative;

    top: 6px;
}


/*Stars*/

.main-star {
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;

    height: 100vh;
    max-height: 700px;

    padding-bottom: 3.125rem;
    position: relative;

    z-index: 2;
}

.star-2 {
    background-image: url("../res/assets/webp/664f212b9e15d13d199dd448_Texture 2.webp");
}

.star-3 {
    background-image: url("../res/assets/webp/664f212db01d13abd533fda6_Texture 3.webp");
}

.star-4 {
    background-image: url("../res/assets/webp/664f212b3ca3cdd172c0e940_Texture 4.webp");
}

.star-5 {
    background-image: url("../res/assets/webp/664f212d639f390c3db3284a_Texture 5.webp");
}

.star-6 {
    background-image: url("../res/assets/webp/664f212d639f390c3db32888_Texture 6.webp");
}

/*Base Article Style */

.overlay {
    background-color: var(--main);

    background-image:
            linear-gradient(
                    to top,
                    var(--main) 0%,
                    rgba(var(--main-rgb), 0) 15%
            ),

            linear-gradient(
                    to bottom,
                    var(--main) 0%,
                    rgba(var(--main-rgb), 0) 15%
            ),

            url("../res/assets/png/673df7fbe95a8e90a7571751_D-bg.png");

    background-position:
            0% 100%,
            0% 0%,
            50% 30%;

    background-repeat:
            no-repeat,
            no-repeat,
            no-repeat;

    background-size:
            100% 15%,
            100% 15%,
            cover;


    z-index: -1;
    height: auto;
}


.section {
    display: flex;
    flex-direction: column;
    gap: 15em;
    padding: 0 10rem;
}

.article, .article-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    max-height: 615px;

    z-index: 1;
}

.article-container{
    width: 1235px;
    height: auto;

    z-index: -1;
}

.video {
    border-radius: 100px;
    overflow: hidden;
    width: fit-content;
    margin: 2rem;
}

.article-video {
    border-radius: 100px;

    height: 560px;
    width: 100%;
    max-width: 800px;

    aspect-ratio: 16 / 9;
    object-fit: cover;

    display: block;
}


.article-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5rem
}

.article-heading {
    font-size: 2rem;
    line-height: 0.9em;
}

.article-subtitle {
    font-size: 1.2rem;
}

/* End of Base Article */

/* Article 1 */

.container-1 {
    border-radius: 100px;
    border: none;
    background-image: url("../res/assets/png/6787ce4640564a6c2690d6de_F-bg.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}


.heading-1, .subtitle-1 {
    margin-right: 3rem;
}

.heading-1 {
    max-width: 13ch;
}

.subtitle-1 {
    max-width: 26ch;
}

.party-wumpus {
    position: relative;
    top: 169px;
    left: 1005px;
    width: 120px;
    z-index: 3;
}

/* Article 2 */

.container-2 {
    border-radius: 100px;
    border: none;

    justify-content: flex-end;
    align-items: center;

    background-image: url("../res/assets/png/678e5155e052593581824839_Featur-card.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}


.heading-2, .subtitle-2 {
    margin-left: 3rem;
}

.heading-2 {
    max-width: 13ch;
}

.subtitle-2 {
    max-width: 29ch;
}

/* Third Article */


.heading-3, .subtitle-3 {
    margin-right: 3rem;
}

.heading-3 {
    max-width: 11ch;
}

.subtitle-3 {
    max-width: 29ch;
}

.container-3 {
    border-radius: 100px;
    border: none;
    background-image: url("../res/assets/png/678e52a02c68a8a27df94206_F-card-3.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}



/*.box {*/
/*    position: absolute;*/
/*    top: 253px;*/
/*    left: 1005px;*/
/*    width: 120px;*/

/*    z-index: 3;*/
/*}*/

/*Line*/

.line-section {
    margin: 100px 0 200px 0;
}

.line-container{
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.line{
    background-image: url(https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/6729ca637f6587d3dc83f73e_line%20\(1\).png);

    background-position-x: 100%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;

    width: fit-content;
    height: auto;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    gap: 3em;

    text-transform: uppercase;

    white-space: nowrap;

    /* Animation */
    animation: treadmill 25s linear infinite;
}
.line-text {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
}


.discord-mark {
    max-width: 36px;
    vertical-align: middle; /* Helps alignment within inline-flex */
}

/* Keyframes Definition */
@keyframes treadmill {
    0% {
        transform: translateX(0%); /* Start position */
    }
    50% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0%);
    }
}


/* Fourth Article */

.container-4 {
    border-radius: 100px;
    border: none;
    background-image: url("../res/assets/png/678e53404279def12d4ab266_FEAT-C.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}

.heading-4, .subtitle-4 {
    margin-left: 3rem;
}

.heading-4 {
    max-width: 13ch;
}

.subtitle-4 {
    max-width: 30ch;
}


/* Fifth Article */

.container-5 {
    border-radius: 100px;
    border: none;
    background-image: url("../res/assets/png/678e50260740f165406854fb_Feature-card.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}

.heading-5, .subtitle-5 {
    margin-right: 3rem;
}

.heading-5 {
    max-width: 13ch;
}

.subtitle-5 {
    max-width: 32.6ch;
}

/* Sixth Article */


.container-6 {
    border-radius: 100px;
    border: none;
    background-image: url("../res/assets/png/678e4e17419ade42a75e98d9_F-c.png");

    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;
}

.heading-6, .subtitle-6 {
    margin-left: 3rem;
}

.heading-6 {
    max-width: 15ch;
}

.subtitle-6{
    max-width: 29ch;
}

/* Discord Banner */

.discord-container {
    margin-top: 10rem;

    display: block;

    width: 100%;

    background-image:
            linear-gradient(
                    to top,
                    rgba(var(--main-rgb), 0) 60%,
                    rgba(var(--main-rgb), 0) 85%,
                    var(--main) 100%
            ),
            url("../res/assets/png/673df7fbe95a8e90a7571751_D-bg.png");

    background-position:
            0% 0%,
            50% 95%;
    background-repeat:
            no-repeat,
            no-repeat;
    background-size:
            100% 100%,
            cover;

    z-index: -1;

    height: auto;
}

.discord-banner {
   margin: 0 10rem;
    background-image: url("../res/assets/webp/664f212db4cf28be9d091295_Texture 7.webp");
    background-repeat: repeat;
    background-size: 110%;
    background-attachment: scroll;

    height: auto;
    z-index: 0;
}

.banner-heading {
    margin-bottom: 5rem;
}

.banner-heading-text {
    margin: 0 auto;

    text-align: center;
    font-size: 3rem;
    max-width: 29ch;
}

.banner-image {
    margin: 0;
}

.footer-image {
    position: relative;
    top: 30px;
    margin-top: 5rem;
    width: 1200px;
    height: auto;
}

.wumpus-sit {
    position: absolute;
    top: 7174px;
    left: 570px;
    width: 400px;

    z-index: 100;
}

.wumpus-leaf-2 {
    position: absolute;
    top: 7044px;
    left: 570px;
    width: 400px;

    -webkit-animation: spin 5s ease-in-out infinite;
    -moz-animation: spin 5s ease-in-out infinite;
    animation: spin 5s ease-in-out infinite;
}

.footer {
position: relative;
    z-index: 99;

}

.footer, .footer-flex-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    flex-shrink: 1;

}

.footer-flex-container {
    grid-area: 1 / span 2 ;
}

.footer-grid-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Keeps it responsive */
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr)); /* Repeats row 6 times with 100 px size */

    grid-template-areas:
    ". . . Product . Company . Resource . Policies . .";

    margin-top: 4rem;
    margin-bottom: 5rem;

    padding: 0 4rem;
}

.column-items {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-size: 1rem;
}

.column-items a:hover {
    transition: 0.5s;
    text-decoration: underline;
}

.column-1 {
    grid-area: Product;
}

.column-2 {
    grid-area: Company;

}

.column-3 {
    grid-area: Resource;

}

.column-4 {
    grid-area: Policies;
}

.footer {
    background-image: url(https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/66ed4cf5fef3aff44b9269d0_Background%20\(1\).png);

    background-repeat: no-repeat;
    background-size:
            100% 100%,
            cover;


    padding-top: 2rem;
    padding-bottom: 0;
}

.footer-logo {
    margin-bottom: 1rem;
}

.social {
    display: flex;
    gap: 1em;
}

.footer-container {
    margin: 4.8rem 2rem;
}


.discord {
    background-color: var(--clr-light-blue);
    padding: 0 2rem 1rem;
}

.discord-wordmark {
    width: 100%;
    overflow: hidden;
}